{% extends "@App/Site/header.html.twig" %}

{% block title %}Доставка еды из {{ shop.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row desc">
            <div class="col-lg-offset-1 col-lg-8">
                {{ shop.description }}
            </div>
            <div class="col-lg-3">
                <img class="img-responsive shop-img" src="{{ vich_uploader_asset(shop, 'imageFile') }}">
            </div>
        </div>
        <div class="row">
            <h1 class="text-center text-uppercase text-warning h1-food">Доставка еды из {{ shop.name }}</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-bordered">
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th colspan="2" style="min-width: 150px;">Добавить в корзину</th>
                        </tr>
                        {% for dish in dishes %}
                            <tr>
                                <td>{{ dish.name }}</td>
                                <td>{{ dish.description }}</td>
                                <td>{{ dish.price }}</td>
                                <td>
                                    {% set cart = cart_form.createView %}
                                    {{ form_start(cart, {'action': path('app_site_addtobasket', {'dish_id' : dish.id})}) }}
                                    {{ form_widget(cart.qty, {'attr': {'style': 'width: 75px; display: inline-block'}}) }}
                                    {{ form_widget(cart.add) }}
                                    {{ form_end(cart) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-lg-3">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="3">Корзина</th>
                        </tr>
                        {% for item in shop_items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.sum }}</td>
                            </tr>

                        {% endfor %}
                        <tr>
                            <td colspan="3"><b>Итого:</b> {{ total }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
